
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";   
}

<h2>Login Page</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form method="post" class="form-group">
    <label for="fname">Kullanıcı Adı:</label><br>
    <input type="text" id="fname" name="kname" value="John"><br>
    <label for="lname">Parola:</label><br>
    <input type="password" name="pass" value="Doe"><br><br>
    <input type="submit" value="Giriş Yap">
</form>
